.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: $color-grey-light;
  align-items: center;
  padding: 1rem 4rem;
  font-size: 1.6rem;
  font-weight: 700;
}

.logo {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;

  &__container {
    height: 8rem;
    width: 8rem;
    border-radius: 50%;
    background: linear-gradient(
      135deg,
      rgba($color-secondary-light, 1),
      rgba($color-secondary-dark, 1)
    );
    display: flex;
    justify-content: center;

    & ion-icon {
      align-self: center;
      font-size: 6rem;
      color: white;
    }
  }
}

.search {
  display: flex;
  flex-direction: row;

  &__input {
    height: 4rem;
    width: 40rem;
    border-radius: 2rem;
    border: 0px solid transparent;
    margin-right: -5rem;
    text-align: start;
  }

  &__button {
    gap: 1rem;
    // width: 15rem;
    padding: 0 5rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-family: inherit;
    font-weight: inherit;
    border-radius: 2rem;
    text-transform: uppercase;
    color: #fff;
    border: 0px solid transparent;
    background: linear-gradient(
      135deg,
      rgba($color-secondary-light, 1),
      rgba($color-secondary-dark, 1)
    );

    & ion-icon {
      font-size: 2rem;
      color: #fff;
    }
  }
}

.control {
  display: flex;
  flex-direction: row;
  gap: 3rem;

  & ion-icon {
    font-size: 2rem;
    color: $color-secondary-dark;
  }

  & .recipe {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
    text-transform: uppercase;
  }

  & .bookmark {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
    text-transform: uppercase;
  }
}
