.container {
  display: flex;
  flex-direction: row;

  &__results {
    flex: 0 0 20%;
    height: 120rem;
    background-color: aqua;
  }

  &__detail {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    background-color: bisque;
    text-transform: uppercase;

    & ion-icon {
      font-size: 2rem;
      color: $color-secondary-dark;
    }

    &--img {
      height: 40rem;

      background-size: cover;
      background-position: bottom;
      position: relative;
    }

    &--name {
      position: absolute;
      font-size: 2rem;
      width: 20rem;
      text-align: center;
      font-weight: 700;
      left: 50%;
      bottom: 0%;
      transform: translate(-50%, 50%) rotateZ(-10deg) skewX(-10deg);
      z-index: 100;
      color: white;
      background: linear-gradient(
        135deg,
        rgba($color-secondary-light, 1),
        rgba($color-secondary-dark, 1)
      );
    }

    &--individual {
      display: flex;
      justify-content: space-around;
      font-size: 1.6rem;
      padding: 8rem 0rem;
      // margin-bottom: 10rem;
    }

    &--pair {
      display: flex;
      gap: 1rem;
      align-items: center;
    }

    &--circle {
      background-color: #fff;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 3rem;
      width: 3rem;
      border-radius: 50%;

      & ion-icon {
        font-size: 2rem;
        color: $color-secondary-dark;
      }
    }

    &--ingredients {
      background-color: $color-grey-light;
      & h1 {
        text-align: center;
        padding: 3rem 0;
        color: $color-secondary-dark;
      }
    }

    &--list {
      list-style: none;
      font-size: 1.6rem;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      // gap: 5rem;
      justify-content: space-between;
      padding: 1rem 2rem 1rem 2rem;

      & li {
        flex: 0 0 50%;

        &::before {
          content: "";
          background-image: url(../img/checkmark-outline.svg);
          display: inline-block;
          background-size: cover;
          height: 1.5rem;
          width: 1.5rem;
          margin-right: 0.7rem;
        }
      }
    }

    & .cooking {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding-bottom: 3rem;
      justify-content: flex-start;
      flex: 1;
      gap: 3rem;

      & h1 {
        text-align: center;
        padding-top: 3rem;
        color: $color-secondary-dark;
      }

      & p {
        font-size: 1.6rem;
        text-align: center;

        &.last {
          margin-top: auto;
        }
      }

      & button {
        padding: 0 5rem;
        cursor: pointer;

        height: 4rem;
        font-family: inherit;
        font-weight: inherit;
        border-radius: 2rem;
        text-transform: uppercase;
        color: #fff;
        border: 0px solid transparent;
        background: linear-gradient(
          135deg,
          rgba($color-secondary-light, 1),
          rgba($color-secondary-dark, 1)
        );
      }
    }
  }
}
